<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="NorthwindConnection" providerName="System.Data.SqlClient" connectionString="Data Source=EPBYMINW9787\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True;" />
    <add name="NorthwindEntities" connectionString="metadata=res://*/Models.Order.csdl|res://*/Models.Order.ssdl|res://*/Models.Order.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EPBYMINW9787\SQLEXPRESS;initial catalog=Northwind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>